

@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>
<h3>En construction...</h3>

@section Menu
{
    <ul>
        <li>@Html.ActionLink("Accueil", "Index")</li>
        <li>@Html.ActionLink("Liste des tutoriels", "Liste")</li>
        <li class="selectionne">@Html.ActionLink("Forum", "Forum")</li>
    </ul>
}