
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>
<h3>En construction ...</h3>

@section Menu
{
    <ul>
        <li>@Html.ActionLink("Accueil", "Index")</li>
        <li class="selectionne">@Html.ActionLink("Liste des tutoriels", "Liste")</li>
        <li>@Html.ActionLink("Forum", "Forum")</li>
    </ul>
}

