
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div>
    <h1>Une erreur s'est produite lors du traitement de votre demande.</h1>
</div>
</body>
</html>
