@using ActivitEE_bibliotheque.Models

@{
    ViewBag.Title = "Livre";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListeClients</title>
</head>
<body>
    <h2>Info sur le Livre</h2>
    <b>Nom : </b> @ViewData["Titre"]
    <b>Date de parrution : </b> @ViewData["Date de parrution"]
    <b>Emprunteur : </b> @ViewData["Emprunteur"]
</body>
</html>


