@model List<TPFilRougeChoixResto.Models.Resultats>
@{
    ViewBag.Title = "AfficheResultat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <p>Résultats du sondage :</p>
    <div id="tableauResultat">
        @{
            Html.RenderAction("AfficheTableau", new { id = ViewBag.Id });
        }
    </div>
    @Ajax.ActionLink("Actualiser le résultat", "AfficheTableau", new { id = ViewBag.Id }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tableauResultat",
            HttpMethod = "GET"
        })
    <p>Vue normale : @DateTime.Now.ToLongTimeString()</p>

